.wrapper {
    width: 100%;
    height: auto;
    background-color: #FBEC21;
}
.container {
    width: 100%;
    height:100vh;
}

.intro {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}

.media-container{
    display:flex;
    flex-direction:column;
    flex: 0 50%;
    align-items: center;
    justify-content: center;
}

.main-btn{
    padding: 4px;
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.2);
    border: 2px black solid;
    border-radius: 5px;    
    color:black;
    font-weight:bold;
    font-size:1em;
    margin-top: 20px;
}

.second-btn{
    padding: 4px;
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.2);
    border: 2px black solid;
    border-radius: 5px;    
    color:black;
    font-weight:bold;
    font-size:1em;
    margin-top: 20px;
}

.main-img{
    width:50%;
    min-height: 40%;
    background-image: url('../img/snek_logo.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    border: none;
}

.text-container{
    display:flex;
    flex-direction: column;
    margin-top:20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex: 0 50%;
    padding-top:100px;
}

.text-container > .title{
    font-size: 2em;
    font-weight: 700;
    width:80%;
    font-family:cursive;

}

.text-container > .body{
    margin-top: 20px;
    font-size: .8em;
    max-width:80%;
    font-family: sans-serif;
}


.container-two {
    background-image: url(../img/home-img-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom:100px;
}

.container-two, .container-four{
    height:auto;
    width: 100%;
    padding-top:30px;
    padding-bottom:70px;
}
.container-three{
    height:auto;
    width: 100%;
    padding-top:30px;
    padding-bottom:120px;
}

.inner-two, .inner-three{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;

}
.inner-two{
    justify-content: space-evenly;
}

.inner-three{
    justify-content: space-between;
}



.roadmap-section {
    border : 2px solid black;
    border-radius : 5px;
    width: 300px;
    max-height: 400px;
    text-align:left;
    padding-left: 5px;
    padding-right:5px;
    font-weight:500;
    background-color: #FBEC21;
}




.roadmap-section.one {
    
}

.roadmap-section.two {
    
}

.roadmap-section.three {
    
}

.roadmap-title {
    font-size: 1.5em;
    font-weight: 700;
    font-family:cursive;
}

.roadmap-list {
    font-size: 1em;
    font-family: sans-serif;
}

.roadmap-list-item {
    margin : 10px 0;
}

.roadmap-list.tokenomics{
    font-size: 1.3em;
    overflow:hidden;

}
.title-two{
    margin-bottom: 90px;
    font-family:cursive;
}
.title-two, .title-three, .title-four{
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 90px;
    font-family:cursive;
}

.buy-steps-container{
    width: 100%;
    padding-left:30px;
    padding-right:30px;
    box-sizing: border-box;
}

.buy-step{
    width: 100%;
    background-color: #fbec21ba;
    border-radius: 10px;
    box-shadow: 5px 2px 2px rgb(0, 0, 0, .5);
    border: 3px solid #555;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom:30px;
}

.step-title{
    font-weight:600;
    margin-bottom:10px;
    font-size:1.3em;
    font-family:cursive;
}

.step-body{
    font-weight: 400;
    font-size: 1.2em;
    font-family: sans-serif;
}

.token-snek-one {
    background-image:url('../img/snekhead1.png');
    background-size:cover;
    width:400px;
    height:400px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.token-snek-two {
    background-image:url('../img/snekhead2.png');
    background-size:cover;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}


.roadmap-section.token{
    overflow:hidden;
}


@media screen and (max-width: 768px) {
    .container{
        height:auto;
        padding-bottom:50px;
    }
    .intro{
        padding-top:50px;
        flex-direction: column;
        height:auto;
    }

    .text-container{
        padding-top:0px;
        text-align: center;
    }

    .text-container > .body {
        width:80%;
        font-family: sans-serif;
    }

    .media-container{
        height: 400px;
        flex : 0 400px;
    }

    .container-two{
    }

    .inner-two{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .inner-three {
        flex-wrap:nowrap;
    }

    .roadmap-section{
        margin-bottom:20px;
    }
    .roadmap-section.token{
        flex: 1 100%;
        margin-right:5px;
        margin-left:5px;
        overflow:hidden;
    }

    .token-snek-one{
        background-position: left;
        background-size:contain;
        background-repeat: no-repeat;
    }

    .token-snek-two{
        background-position: right;
        background-size:contain;
        background-repeat: no-repeat;

    }
    
    .roadmap-list.tokenomics{
        font-size: 1em;
    }
}