.wrapper {
    width: 100%;
    height: auto;
    background-color: #FBEC21;
}
.container {
    width: 100%;
    height:100vh;
}

.intro {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
}

.media-container{
    display:flex;
    flex-direction:column;
    flex: 0 50%;
    align-items: center;
    justify-content: center;
}

.main-btn{
    padding: 4px;
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.2);
    border: 2px black solid;
    border-radius: 5px;    
    color:black;
    font-weight:bold;
    font-size:1em;
    margin-top: 20px;
}

.second-btn{
    padding: 4px;
    cursor: pointer;
    background-color: rgba(120, 120, 120, 0.2);
    border: 2px black solid;
    border-radius: 5px;    
    color:black;
    font-weight:bold;
    font-size:1em;
    margin-top: 20px;
}

.main-img{
    width:50%;
    min-height: 40%;
    background-image: url('../img/sneklogo.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
    border: none;
}

.text-container{
    display:flex;
    flex-direction: column;
    margin-top:20px;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex: 0 50%;
    padding-top:100px;
}

.text-container > .title{
    font-size: 2em;
    font-weight: 700;
    width:80%;

}

.text-container > .body{
    margin-top: 20px;
    font-size: .8em;
    max-width:80%;
}


.container-two {
    background-image: url(../img/home-img-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom:100px;
}

.container-two, .container-three {
    height:auto;
    width: 100%;
    padding-top:30px;
    padding-bottom:70px;
}

.inner-two, .inner-three{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}



.roadmap-section {
    border : 2px solid black;
    border-radius : 5px;
    width: 300px;
    max-height: 400px;
    text-align:left;
    padding-left: 5px;
    padding-right:5px;
    font-weight:500;
    background-color: #FBEC21;
}

.roadmap-section.one {
    
}

.roadmap-section.two {
    
}

.roadmap-section.three {
    
}

.roadmap-title {
    font-size: 1.5em;
    font-weight: 700;
}

.roadmap-list {
    font-size: 1em;
}

.roadmap-list-item {

}
.title-two{
    margin-bottom: 90px;
}
.title-two, .title-three{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 90px;
}

.token-snek-one {
    background-image:url('../img/snekhead1.png');
    background-size:cover;
    width:400px;
    height:400px;
}

.token-snek-two {
    background-image:url('../img/snekhead2.png');
    background-size:cover;
    width: 400px;
    height: 400px;
}


@media screen and (max-width: 768px) {
    .container{
        height:auto;
        padding-bottom:50px;
    }
    .intro{
        padding-top:50px;
        flex-direction: column;
        height:auto;
    }

    .text-container{
        padding-top:0px;
        text-align: center;
    }

    .text-container > .body {
        width:80%;
    }

    .media-container{
        height: 400px;
        flex : 0 400px;
    }

    .container-two{
    }

    .inner-two{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .inner-three {
        flex-wrap:nowrap;
    }

    .roadmap-section{
        margin-bottom:20px;
    }
    .roadmap-section.token{
        flex: 1 100%;
        margin-right:5px;
        margin-left:5px;
    }

    .token-snek-one{
        background-position: left;
        background-size:contain;
        background-repeat: no-repeat;
    }

    .token-snek-two{
        background-position: right;
        background-size:contain;
        background-repeat: no-repeat;

    }
}