.nav-container {
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFF00;
}

.logo-box {
    border-radius: 100%;
    border: 2px solid black;
    background-image: url('../img/snek_alone_1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60px;
    width: 60px;
    animation: rotate 4s infinite linear;
    animation-fill-mode:both;
    transform: translateY(-100%);
    transform-origin: center;
    -webkit-animation: rotate 4s infinite linear;
    -webkit-animation-fill-mode: both;
    -webkit-transform: translateY(-50%);
    -webkit-transform-origin: center;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
}


@keyframes rotate {
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
    }
    100% {
        transform: rotateY(1turn);
        -webkit-transform: rotateY(1turn);
    }
}


.logo-container {
    margin-right: auto;
    margin-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    overflow:hidden;
}
